body {
  font-family: Arial, Helvetica, sans-serif;
  background: #113f67f3;
    color: azure;
}

.footer a {
  text-decoration: none;

}

.footer {
  text-align: center;
}

.titleName {
  text-align: center;
}
