.Weather {
  border: 3px solid rgb(140, 231, 208);
  border-radius: 15px;
  margin: 5px auto;
  padding: 12px;
  max-width: 550px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Weather h1 {
  color: rgb(140, 231, 208);
  line-height: 29px;
  padding: 10px 1px 4px;
}

.Weather .temperature {
  font-size: 36pt;
  position: relative;
  top: -24px;
  color: rgb(140, 231, 208);
  letter-spacing: -3pt;
}

.Weather ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: -7px;
}

.Weather li {
  list-style: none;
}

.conditions {
  margin: 0;
}

.Weather canvas {
  margin: 10px auto;
}

.WeatherTemperature .units {
  position: relative;
  font-size: 16px;
  top: -48px;
  left: -4px;
  color: rgb(140, 231, 208);
  line-height: 1;
  letter-spacing: -0.48pt;
  text-decoration: none;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: rgba(238, 115, 250, 0.783);
}
